body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: rgb(22, 211, 44);
  padding: 40px;
  border-radius: 16px;
  width: 320px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  animation: fadeIn 0.4s ease;
}

h1 {
  margin-bottom: 10px;
}

.subtitle {
  font-size: 14px;
  color: #aa1111;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 16px;
  transition: 0.2s;
}

input:focus {
  border-color: #667eea;
}

.counter {
  font-size: 48px;
  margin: 20px 0;
  font-weight: bold;
  color: #667eea;
  transition: transform 0.2s;
}


button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #667eea;
  color: rgb(210, 36, 36);
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #5a67d8;
  transform: scale(1.03);
}

.result {
  margin-top: 20px;
  padding: 15px;
  background: #243c9f;
  border-radius: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}